.navbar {
    font-family: 'Poppins', sans-serif;
    background: transparent;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    color: #444;
    z-index: 999;
  }

  .navbar.active {
    background: rgba(107, 174, 173, 0.7);
  }

  .nav-item >.active {
    border-bottom: 2px solid #f00946;
}

  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }

  .container {
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
  }

  .nav-logo {
    height: 50px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    letter-spacing: 1px;
    font-weight: 600;
  }
  .nav-logo:hover .nav-links {
    color: #444;
    transition: 0.2s;
  }

  .nav-item {
    height: 50px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    letter-spacing: 1px;
    font-weight: 600;
  }

  .nav-item:hover {
    border-bottom: 2px solid #f00946;
    transition: 0.2s;
  }
  .nav-item:hover .nav-links {
    color: #444;
    transition: 0.2s;
  }

  .nav-links {
    color: #999;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
