.faq_section {
    font-family: "Poppins", sans-serif;
}

.faq-container {
    display: flex;
    max-width: 1124px;
    min-height: 300px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

.faq-row{
  border: none!important;
  background-color: #FFF;
  margin-top: 3vh;
  border-radius: 5px;
  padding-left: 15px!important;
}

.row-title{
  font-weight: bold;
}

.faq-title{
  background-color: transparent;
  border: none;
  padding-bottom: 2vh!important;
}
